{{>header}}

<body id="newsBody">

  <div class="ui huge message" id="header">
    <h1 class="ui huge centered aligned header" id=headerTwo>Video Game News</h1>
    <div class="ui animated button" id="home" tabindex="0">
      <a href="/news">
        <div class="visible content">Back to News</div>
        <div class="hidden content">
          <i class="home icon"></i>
        </div>
      </a>
    </div>

    <div class="ui animated button" tabindex="0">
      <a href="/news">
        <div class="visible content">Back to Game News</div>
        <div class="hidden content">
          <i class="sign in alternate icon"></i>
        </div>
      </a>
    </div>
  </div>
  <br>
  <br>
  {{#each savedNews}}
  <div class="ui items">
    <div class="item">
      <div class="image">56trygf
        <img src="{{this.image}}">
      </div>
      <div class="content">
        <a class="header" id="titleText" href="https://www.gamespot.com{{this.url}}" </a>{{this.title}} </a> <div class="meta">
      </div>
      <div class="description" id="summaryText">
        <p>{{this.summary}}</p>
        <button class="ui inverted button commentButton" data-id={{this._id}}>Leave a Comment</button>
        <button class="ui inverted button unsaveNews" data-id={{this.id}}>Unsave News</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  {{/each}}
  </div>

  <!--Modal for Comment Form-->

  {{#each savedNews}}
  <div class="ui modal modal1" id={{this.id}}>
    <div class="header">
       {{this.title}}
    </div>
    <div class="content">
      <div class="description">
        <form class = "ui form">
          <div class="field">
            <label>Create New Comment</label>
            <textarea id="text_{{this.id}}""text" data-id></textarea>
          </div>
          <button class = "ui button submitComment" data-id={{this.id}} type="submit">
            Submit Comment
          </button>
        </form>
      </div>
      
    </div>
    <div class="ui header">Comments</div>
    <div class="header">
      <div>
        <ul>
        <li>{{this.comment}}</li>
        </ul>
        
        
      </div>
    </div>
  </div>
        
  </div>
  {{/each}}

  {{!-- Modal to show comments
  {{#each savedNews}}
  <div class="ui modal modal2">
    <div class="header">{{this.title}}</div>
    <div class="content">

      <div class="comments">
        <p>{{this.body}}</p>
      </div>

    </div>
  </div>
  {{/each}} --}}